@use "../variables";

@mixin flexStyle($direction, $align, $justifyContent) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justifyContent;
}

#branches {
  scroll-margin-top: 200px;
}

.branches {
  .container {
    margin: 60px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;

    .inner {
      @include flexStyle(row, start, "");
      gap: 20px;

      .left {
        flex: 30%;
        @include flexStyle(column, "", "");
        gap: 10px;

        .select-item {
          position: relative;
          cursor: pointer;

          .selected {
            @include flexStyle(row, center, space-between);
            border-radius: 10px;
            padding: 20px;
            background-color: var(--background-color);

            span {
              display: flex;
              align-items: center;
            }
          }

          .menu {
            position: absolute;
            background-color: #fff;
            top: 100%;
            left: 0;
            z-index: 50;
            box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            width: 100%;

            transform: translateY(-50%);
            opacity: 0;
            visibility: hidden;

            transition: opacity 0.2s, visibility 0.2s,
              transform 0.2s ease-in-out;

            p {
              padding: 10px 15px;

              transition: background-color 0.2s easinou;

              &:hover {
                background-color: var(--background-color);
              }
            }
          }

          &:hover {
            .menu {
              opacity: 1;
              visibility: visible;
              pointer-events: all;
              transform: translateY(0);
            }
          }
        }

        .location-info {
          @include flexStyle(column, start, "");
          gap: 20px;
          border: 2px solid var(--border-color);
          border-radius: 10px;
          padding: 20px;

          p {
            @include flexStyle(row, center, "");
            gap: 10px;
            font-size: 16px;
            font-weight: 500;

            svg {
              min-width: 24px;
              min-height: 24px;
            }
          }
        }
      }

      .right {
        flex: 70%;

        .leaflet-map {
          .leaflet-container {
            z-index: 20 !important;
            width: 100%;
            min-height: 320px;
          }
        }
      }
    }
  }
}
