.suggestions {
  .products {
    margin: 0 !important;
    height: 100%;
    .suggestions-swiper {
      margin: 0 auto 0 0 !important;
      .swiper-slide {
        max-width: 315px;
      }
    }
  }
}
