@use "../variables";

.catalog-page {
  min-height: 45vh;

  .sub-categories {
    display: grid;
    grid-template-columns: repeat(5, 248px);
    margin-bottom: 40px;
    gap: 20px;

    a {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
      height: 248px;
      width: 100%;

      border-radius: 10px;
      overflow: hidden;
      padding: 10px 15px;
      background-color: #fff;

      img {
        border-radius: 20px;
        width: 180px;
        height: 180px;
        margin: 0 auto;
      }

      span {
        color: var(--text-)300;
        font-size: 16px;
        font-weight: 600;
        margin-top: auto;
      }
    }
  }
}
