.comments {
  margin: 40px 0;

  .top {
    padding: 20px 0;
  }

  .content {
    display: flex;
    align-items: start;
    gap: 10px;

    .left {
      flex: 20%;

      display: flex;
      flex-direction: column;
      gap: 10px;

      & > div {
        display: flex;
        align-items: center;
        gap: 10px;
        p {
          font-size: 20px;
          font-weight: 600;
        }

        .stars {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }

      p {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 600;
        color: var(--text-300);

        span {
          color: var(--text-200);
          display: flex;
          align-items: center;
        }
      }
    }

    .right {
      flex: 80%;
      max-height: 1200px;
      overflow: auto;

      display: flex;
      flex-direction: column;
      gap: 10px;

      .comment-box {
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;

        .top {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .user-info {
            display: flex;
            align-items: end;
            gap: 10px;

            div {
              display: flex;
              flex-direction: column;
              gap: 5px;

              p {
                font-size: 18px;
                font-weight: 500;
                color: var(--text-300);
              }

              .stars {
                display: flex;
                align-items: center;
                gap: 6px;
              }
            }
          }
        }

        .images {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-top: 20px;

          img {
            width: 100px;
            height: 100px;
            object-fit: contain;
          }
        }
      }
    }
  }
}

.photo-modal {
  position: fixed;
  inset: 0;
  z-index: 1000;

  display: grid;
  place-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  .inner {
    img {
      width: 360px;
      height: 500px;
    }
  }
}
