.product-details-page {
  min-height: 50vh;

  .count-box {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;

    &.disable {
      .count {
        cursor: not-allowed;
        button {
          color: var(--text-150);
        }

        span {
          color: var(--text-150);
        }
      }
    }

    .count {
      width: 100%;
      flex: 50%;
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
      background-color: #fff;
      border-radius: 10px;

      button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        font-size: 20px;
        color: var(--text-200);
        cursor: pointer;
      }

      span {
        font-size: 20px;
        color: var(--text-300);
        font-weight: 600;
      }
    }

    .addtocart {
      width: 100%;
      flex: 50%;
    }
  }

  .addtocart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--yellow);
    padding: 15px 20px;
    border-radius: 10px;
    color: var(--text-300);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: none;

    &.disable {
      background-color: #dfdfdf77 !important;
      color: var(--text-200);
      cursor: not-allowed;

      span {
        &::after {
          border-color: var(--text-150) !important;
        }
      }
    }

    span {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: -15px;
        top: 0;
        bottom: 0;
        border: 1px solid var(--yellow-dark);
      }
    }
  }

  .product-details {
    min-height: 500px;
    margin-bottom: 40px;
    display: flex;
    gap: 20px;

    .images {
      display: flex;
      gap: 10px;
      width: 100%;
      flex: 45%;

      .swiper {
        max-height: 500px;
        margin: 0;

        .swiper-slide {
          max-width: 80px;
          max-height: 80px;
          border-radius: 10px;
          overflow: hidden;
          background-color: #fff;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .img-box {
        background-color: #fff;
        border-radius: 20px;
        overflow: hidden;
        max-height: 350px;
        width: 100%;
        display: grid;
        place-items: center;

        img {
          max-height: 350px;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 20px;
      width: 100%;
      flex: 55%;

      .top {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        .title {
          font-size: 24px;
          font-weight: 700;

          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-right: 20px;

          button {
            background-color: #fff;
            border: none;
            padding: 13px;
            border-radius: 10px;
            display: grid;
            place-items: center;
            cursor: pointer;
          }
        }

        .extra-info {
          display: flex;
          align-items: center;
          gap: 10px;

          p {
            display: flex;
            align-items: start;
            gap: 10px;

            span {
              display: flex;
              align-items: center;
            }

            &.status {
              color: var(--red);

              &.active {
                color: var(--green);
              }
            }
          }
        }
      }

      .desc {
        display: flex;
        flex-direction: column;
        gap: 10px;
        a {
          color: var(--blue);
          text-decoration: underline;

          transition: color 0.1s ease-in-out;

          &:hover {
            color: var(--blue);
          }
        }
      }

      .price {
        display: flex;
        align-items: center;
        gap: 10px;

        .original-price {
          font-size: 16px;
          font-weight: 500;
          color: var(--text-200);
          text-decoration: line-through;
        }

        .discount {
          color: var(--red);
          font-size: 16px;
          font-weight: 500;
        }

        .discounted-price {
          font-size: 20px;
          font-weight: 600;
          color: var(--text-300);
        }
      }

      .rasrochka {
        padding: 10px;
        border: 2px solid var(--border-color);
        color: var(--text-200);
        border-radius: 10px;

        span {
          color: #000;
          font-weight: 600;

          &:last-child {
            color: var(--green);
          }
        }
      }
    }
  }

  .fixed-product_info {
    display: flex;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    padding: 10px 0;

    transform: translateY(-100%);

    transition: transform 0.3s ease-in-out;

    &.active {
      transform: translateY(0);
      background-color: #fff;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
      z-index: 50;

      transition: transform 0.3s;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;
        gap: 20px;
        flex: 65%;

        .img-box {
          max-width: 100px;
          max-height: 100px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .body {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .name {
            font-size: 20px;
            font-weight: 600;
          }

          .extra-info {
            display: flex;
            align-items: center;
            gap: 15px;

            p {
              display: flex;
              align-items: center;
              gap: 10px;
              font-size: 16px;
              font-weight: 500;
              color: var(--text-200);
            }
          }
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        flex: 35%;

        .discounted-price {
          font-size: 20px;
          font-weight: 600;
          color: var(--text-300);
        }

        .original-price {
          font-size: 16px;
          font-weight: 500;
          text-decoration: line-through;
          color: var(--text-200);
        }

        .discount {
          color: var(--red);
          font-size: 16px;
          font-weight: 500;
        }

        .actions {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        .count-box {
          .count {
            background-color: var(--background-color) !important;
          }
        }

        .addtocart {
          padding: 10px 20px;
          font-size: 16px;

          span {
            display: flex;
            align-items: center;
          }
        }

        .fav-btn {
          background-color: transparent;
          border: none;
          display: grid;
          place-items: center;
        }
      }
    }
  }

  #description {
    scroll-margin-top: 200px;
  }

  .product-description {
    margin-top: 20px;

    .title {
      margin: 20px 0;
      font-size: 24px;
      font-weight: 700;
    }

    p {
      font-size: 14px;
    }
  }
}
