.checkout-modal {
  height: 100vh;
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;

  .inner {
    background-color: #fff;
    min-width: 600px;
    min-height: 400px;
    border-radius: 20px;
    display: grid;
    place-items: center;

    display: flex;
    flex-direction: column;
    gap: 20px;

    .title {
      font-size: 24px;
      font-weight: 600;
      color: var(--text-300);
    }

    .desc {
      color: var(--text-200);
      font-weight: 16px;
      font-weight: 600;
    }
  }
}
