@use "./styles/variables";
@use "./styles/components/header-top";
@use "./styles/components/header";
@use "./styles/components/footer";

@use "./styles/components/banner/banner";
@use "./styles/components/banner/miniBanner";
@use "./styles/components/banner/banner3";

@use "./styles/components/categories";
@use "./styles/components/suggestions";
@use "./styles/components/products/productItem";
@use "./styles/components/partners";
@use "./styles/components/services";

@use "./styles/components/search/search";

// Pages
@use "./styles/pages/favorites";
@use "./styles/pages/cart";

@font-face {
  font-family: "TT-Travels";
  src: url("./fonts/TT-Travels-regular.otf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "TT-Travels" !important;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

html,
body {
  background-color: variables.$background-color;
  font-family: "TT-Travels";
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .title {
    font-size: 30px;
    font-weight: 700;
  }

  a {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid variables.$border-color;
    border-radius: 10px;
    color: variables.$text-200;

    span {
      display: flex;
      align-items: center;
    }
  }
}

.section {
  margin: 40px 0;
}
