@import "./styles/variables";
@import "./styles/components/header-top";
@import "./styles/components/header";
@import "./styles/components/footer";

@import "./styles/components/banner/banner";
@import "./styles/components/banner/miniBanner";
@import "./styles/components/banner/banner3";

@import "./styles/components/categories";
@import "./styles/components/suggestions";
@import "./styles/components/partners";
@import "./styles/components/branches";
@import "./styles/components/services";

@import "./styles/components/products/products";
@import "./styles/components/products/productItem";

// modals
@import "./styles/components/modal/search";
@import "./styles/components/modal/catalogs";
// Auth-modal
@import "./styles/components/Auth/login";

// Pages
@import "./styles/pages/favorites";
@import "./styles/pages/cart";
@import "./styles/pages/catalog-details";
@import "./styles/pages/catalog-page";

// error
@import "./styles/components/error";

@import "./styles/components/UI/checkbox";

@font-face {
  font-family: "TT-Travels";
  src: url("./fonts/TT-Travels-regular.otf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "TT-Travels" !important;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

html,
body {
  background-color: $background-color;
  font-family: "TT-Travels";
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .title {
    font-size: 30px;
    font-weight: 700;
  }

  a {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid $border-color;
    border-radius: 10px;
    color: $text-200;

    span {
      display: flex;
      align-items: center;
    }
  }
}

.section {
  margin: 40px 0;
}

.navigations {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;

  span {
    display: flex;
    align-items: center;
  }

  a {
    color: $text-200;

    &.active,
    &:hover {
      color: #000;
    }
  }
}

.amo-button-holder {
  z-index: 999 !important;
}

.amo-button-holder {
  z-index: 80 !important;
}
